@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

/*....... genrall input..............*/
body {
  background-size: cover;
  background-repeat: repeat;
  background-position: bottom;
  background-image: url('../resources/images/mathbackgorund.jpg');
  font-family: 'Muli', sans-serif;
  height: 2000px;
  margin: 0;
  padding: 0;
  font-size: 14px;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Julius Sans One', sans-serif;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url('../resources/images/backgroundimagespace.jpg') ;
  height: 570px;
  color: white;
  font-size: 15px;
  padding: 0;
  margin: 0;
  position: relative;


}

.logo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  padding: 1em;
  display: inline-block;
  float: left;
}

.nav {
  height: 20px;
  margin-top: 2px;

}

.navheader {
  list-style-type: none;
  padding:0;
  display: inline-block;

}

.headernavigation {
  text-align: center;

}

.headertext {
  margin-top: -1em;
}

nav li {

  text-decoration: none;
  padding: 5px 0;


}

header nav a {

  font-size: 14px;
  background-color: #6E00D5;
  color: white;
  border: 3px groove #DC2BFF;
  border-radius: 5%;
  text-align: center;
  max-width: 182px;
  display: block;
  padding: 5px;
  text-decoration: none;

}

#demolink {
  background-color: #FFDF00;
  color: #040053;

}


.numetrylogo {

  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
  bottom: 20px;

}

.active {
  color: #F37720;
}

h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  padding: 1em;
  padding-bottom: 2em;
}

h1 > b {
  font-size: 28px;
}

h2 {
  font-size: 22px;
  color: #6E00D5;
}

section a {
  font-size: 14px;
  background-color: #6E00D5;
  color: white;
  border: 3px groove #DC2BFF;
  border-radius: 5%;
  text-align: center;
  max-width: 182px;
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-decoration: none;
}
main {
  padding: 1em;
}

footer nav a{
  text-align: center;
  color: white;
}

footer {
  text-align: center;
  color: white;
}
.navfooter {
  list-style-type: none;
  padding:0;
  display: inline-block;

}

.socialmediaicons {
  display: inline-block;
  text-decoration: none;
}
.socialmediaicons img {
  height: 50px;
  width: 50px;
}

.credits {
  padding: 1em;
  padding-bottom: 3em;
}

/*.........Homepage.........*/


.kidsnowadays {
  background-color: #C5D4DD;
  margin-top: 4em;
  display: inline-block;


}
.kidsnowadays > section {
  padding: 1em;
}

.boyplaying {
  margin-top: -5em;
  width: 100%;

}

.superkid {
  width: 100%
}

.moreinfo {
  text-align: center;
}

.haavard {
  padding: 1em;
  background-color: #C5D4DD;
  margin-top: 2em;
  display: inline-block;

}

.kjendis {
  width: 100%;
}

.preach {
  width: 100%;
}
.investors {
  background-color: #C5D4DD;
  margin-top: 4em;
  display: inline-block;
}

.investorsheader {
  width: 100%;
  margin-top: -4em;
}


.investorgrid {
  padding: 1em;
  clear:both;
}

.investorlogosrow {
  display: flex;
}

.investorlogo {
  width: 30.5%;
  margin: 1%;
  margin-bottom: 10px;
}

.investorlogo img {
  width: 100%;

}
.vimeo {
  background-color: #C5D4DD;
  padding: 1em;
  margin-top: 2em;
  display: inline-block;
}

.vimeologo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
}

iframe {
  border: none;
  height: unset;
}

.numetryvideo {
  height: 400px;
  width: 100%;
}

/*........About Numetry.........*/


.excitingandcool {

  margin-top: 0.5em;
  vertical-align: top;
  background-color: #C5D4DD;
  margin-bottom: 2em;

}

.thesquad {
  width: 100%;
  min-height: 200px;
  margin-right: 1%;
}

.excitingandcool section {
  padding: 1em;
}

.concentrated {
  width: 100%;

}

.gamedevelopment {
  background-color: #C5D4DD;
  margin-top: 2em;
  min-height: 300px;
  display: inline-block;
  vertical-align: top;
}

.gamedevelopment > section {
  padding: 1em;
}

.matema {
  margin-top: 2em;
  height: 20%;
  vertical-align: top;
  background-color: #C5D4DD;
}

.matemaimage {
  width: 100%;
}

.matema > section {
  padding: 1em;
}

.gamemissions {
  margin-top: 2em;
  height: 20%;
  vertical-align: top;
  background-color: #C5D4DD;

}

.mission {
  width: 100%;
  min-height: 200px;
  margin-right: 1%;
}

.gamemissions > section {
  padding: 1em;
}

.gamelogo {
  width: 100%;
}

.thegame {
  background-color: #040053;
  border: solid 10px #C5D4DD;
  color: white;
}

.thegame, span {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
}

a.playbutton {
  width: 70%;
  background: none;
  padding: 0;
  border: none;
  margin-bottom: 2em;
}

/*........Our Team & Experts......*/

.staff {
  padding: 1em;
}

.staff img:not(.vision):not(.ipadgirl) {
  max-width: 128px;
  margin: 0 auto;
  display: block;
}

.staff h2 {
  text-align: center;
}

.staff b {
  display: block;
  text-align: center;
}

.ourvision {
  background-color: #C5D4DD;
  padding: 1em;
  margin-top: 2em;
}

.vision {
  width: 100%;
}

.leaders {
  background-color: #09204D;
  color: white;
  padding: 1em;
  margin-top: 2em;
}

.leadroles h2 {
  color: #FFFF01;

}

.keys {
  background-color: #1E4470;
  color: white;
  padding: 1em;
  margin-top: 2em;
}

.keyroles h2 {
  color: #FFFF01;
}

.teach {
  background-color: #213E71;
  color: white;
  padding: 1em;
  margin-top: 2em;
}

.educators h2 {
  color: #FFFF01;
}

.intern {
  background-color: #8990C6;
  color: white;
  padding: 1em;
  margin-top: 2em;
}

.users {
  background-color: #BDA1D7;
  color: white;
  padding: 1em;
  margin-top: 2em;
}

.join {
  background-color: #C5D4DD;
  padding: 1em;
  margin-top: 2em;
}

.ipadgirl {
  width: 100%
}

/*........Contact Us..............*/

.contactform {
  background-color: #C5D4DD;
  margin: 2em;
  padding: 1em;
}

form {
  margin-left:  0 auto;
  margin-right: 0 auto;
}

.contactform h3 {
  color: #6E00D5;
  font-size: 20px;
}

label {
  color: #6E00D5;
  font-size: 18px;

}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 3px solid #6E00D5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #6E00D5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #DC2BFF;
}

.map {
  width: 100%;
  height: 300px;
}
.investorvideo {
  width: 100%;
  height: 300px;
}

.co-owner {
  width: 100%
}

/*.......Scaling-mob.........*/
@media only screen and (max-width: 600px) {

}


/*........Scaling-tab........*/
@media only screen and (min-width: 600px) and (max-width: 900px){

/*....... genrall input..............*/

  header {
    max-height: 330px;
  }

  .headertext {
    font-size: 25px;
    margin-top: 0.5em;
  }

  .headertext > b {
    font-size: 35px;
  }
  .logo {
    float: left;
    width: 300px;

  }
  .headernavigation {
    margin-left: 2em;
  }

  .clearfix {
    padding-left: 10%;
  }

  .numetrylogo {
    transform: translate(-50%,0);
    margin-bottom: 2em;
    width: 200px;
  }

/*.........Homepage.........*/
  .kidsnowadays {
    max-width: 47%;
    display: inline-block;
    margin: 5px;
    margin-top: 5em;
    vertical-align: top;
    min-height: 1264px;
  }

  .haavard {
    max-width: 47%;
    margin: 5px;
    vertical-align: top;
    min-height: 1329px;
  }

  .investors {
    max-width: 47%;
    margin: 5px;
    margin-top: 4.3em;
  }

  .vimeo {
    max-width: 47%;
    margin: 5px;
    vertical-align: top;
    margin-top: 2em;
  }

/*........About Numetry.........*/
  .aboutnumetry .kidsnowadays {
    max-width: 47%;
    display: inline-block;
    margin: 5px;
    margin-top: 5em;
    vertical-align: top;
    min-height: 390px;
  }

  .gamedevelopment {
    max-width: 47%;
    margin-top: 2.5em;
    vertical-align: top;
    min-height: 428px;
    margin-left: 5px;
  }

/*........Our Team & Experts......*/
  .leadroles, .keyroles, .educators, .interns, .experts{
    max-width: 45%;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    margin-left: 22px;
  }

/*........Contact Us..............*/


}

/*........scaling-desktop....*/
@media only screen and (min-width: 900px) {

/*....... genrall input..............*/
  header {
    max-height: 360px;
  }

  .logo {
    float: left;
    width: 350px;

  }
  .headernavigation {
    margin-left: 2em;
  }
  .headertext {
    font-size: 30px;
    margin-top: 0.5em;
  }

  .headertext > b {
    font-size: 40px;
  }
  .navheader {
    padding-left: 31%;
  }

  .numetrylogo {
    transform: translate(-50%,0);
    margin-bottom: 4em;
    width: 300px;
  }


  .h1 > b {
    font-size: 35px;
  }

/*............Homepage...............*/
  .kidsnowadays {
    margin-top: 5em;
    vertical-align: top;
    min-height: 1264px;
  }

  .haavard {
    vertical-align: top;
    min-height: 1329px;
    margin-top: 0em;
  }

  .investors {
    margin-top: 4.3em;
  }

  .vimeo {
    vertical-align: top;
    margin-top: 2em;

  }
 main > * {
   display: inline-block;
   margin: 5px;
   max-width: 31%;
 }

/*..........About Numetry............*/



/*.........Our Team & Experts........*/



/*...........Contact Us..............*/


}
